<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huan.jerp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pocketcast"
        android:label="公司管家"
        android:theme="@style/RedTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="27a2ad471605d5a331ab448facba88af" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="C's Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".activity.AddNewsActivity"
            android:label="@string/title_activity_add_news" >
        </activity>
        <activity
            android:name=".activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".activity.SelectPositionActivity"
            android:label="@string/title_activity_select_position" >
        </activity>
        <activity
            android:name=".activity.SignOtherActivity"
            android:label="@string/title_activity_sign_other" >
        </activity>
    </application>

</manifest>
